@using Cigarette.Enterprise.ResourceManager.LanguagesResourceFiles
@using Cigarette.Enterprise.ViewModels.ViewModels.AdminViewModels.Country
@model Saudiceos.Enterprise.Web.Models.ResetPasswordVM

@{
    ViewBag.Title = HomeResource.W_Login_ForgetPassoword;

    var language = "ar";
    var cookie = HttpContext.Current.Request.Cookies["Language"];

    if (cookie != null && cookie.Value != null)
    {
        language = cookie.Value;
    }
    else
    {
        HttpCookie newcookie = new HttpCookie("Language");
        newcookie.Value = language;
        Response.Cookies.Add(newcookie);
    }
    var countries = (List<CountryListItemViewModel>)ViewBag.Countries;
    var isEnglishLang = language != "ar";

    var country = "KW";
    var cookiecountry = HttpContext.Current.Request.Cookies["Country"];

    if (cookiecountry != null && cookiecountry.Value != null)
    {
        country = cookiecountry.Value;
    }
    else
    {
        HttpCookie newcookiecountry = new HttpCookie("Country");
        newcookiecountry.Value = language;
        Response.Cookies.Add(newcookiecountry);
    }
}

@if (isEnglishLang)
{
    <style type="text/css">
        label {
            text-align: left;
            width: 100%;
        }
    </style>
}




@if (language == "ar")
{
    <section class="mainContent  text-center">
        <h1 class="headerPages">
            تعيين كلمة المرور
        </h1>
        <div class="ForgetContent">
            من فضلك ادخل كلمه السر الجديده
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <form class="" action="/ResetPasswordPost" method="post">
                        @Html.HiddenFor(x => x.Phone)
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Password) })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.ConfirmPassword) })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div style="margin-bottom:50px;">
                            <button type="submit" class="btn forgetBtn">
                                إرسال
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </section>
}
else
{
    <!-- about us Section -->
    <section class="mainContent  text-center">
        <h1 class="headerPages">
            Forgot your password
        </h1>
        <div class="ForgetContent">
            Enter New Password
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <form class="" action="/ResetPasswordPost" method="post">
                        @Html.HiddenFor(x => x.Phone)
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Password) })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.ConfirmPassword) })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div style="margin-bottom:50px;">
                            <button type="submit" class="btn forgetBtn">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </section>

    <!-- about us Section End -->
}