@model Cigarette.Enterprise.ViewModels.ViewModels.Register.RegisterBM
@using Cigarette.Enterprise.ResourceManager.LanguagesResourceFiles
@using Cigarette.Enterprise.ViewModels.ViewModels.AdminViewModels.Country

@{


    var language = "ar";
    var cookie = HttpContext.Current.Request.Cookies["Language"];

    if (cookie != null && cookie.Value != null)
    {
        language = cookie.Value;
    }
    else
    {
        HttpCookie newcookie = new HttpCookie("Language");
        newcookie.Value = language;
        Response.Cookies.Add(newcookie);
    }
    var countries = (List<CountryListItemViewModel>)ViewBag.Countries;
    var isEnglishLang = language != "ar";

    if (isEnglishLang)
    {
        ViewData["Title"] = "Verfiy Change Password ";
    }
    else
    {
        ViewData["Title"] = "تاكيد تغيير كلمه المرور";

    }

    var country = "KW";
    var cookiecountry = HttpContext.Current.Request.Cookies["Country"];

    if (cookiecountry != null && cookiecountry.Value != null)
    {
        country = cookiecountry.Value;
    }
    else
    {
        HttpCookie newcookiecountry = new HttpCookie("Country");
        newcookiecountry.Value = language;
        Response.Cookies.Add(newcookiecountry);
    }
}

@if (isEnglishLang)
{
    <style type="text/css">
        label {
            text-align: left;
            width: 100%;
        }

        div.form-group {
            float: right !important;
        }
    </style>
}

<style>
    div.form-group {
        float: right !important;
    }

        div.form-group input[name=Phone] {
            height: 50%;
            font-size: 50px;
            text-align: center;
        }
</style>

    <!-- register Section -->
    <section class="mainContent  text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="headerPages text-center">
                        @(language == "ar" ? " تاكيد تعيين كلمه المرور, أدخل الرقم المرسل اليك" : "Confirm Forget password, Enter the sent code") 
                    </h2> 
                    
                    <div class="form-group col-md-8 col-8">
                        <input name="Code" type="text" class="form-control code" next="5" required="" aria-describedby="emailHelp" placeholder=" @(language == "ar" ?" أدخل الرقم المرسل اليك" :"Enter the sent code")">
                    </div>
                    <div class="form-group col-md-4 col-4">
                        <button class="btn btn-success confirm-code" >
                            @(language == "ar" ? "تاكيد": "Confirm")
                        </button>
                    </div>


                </div>
            </div>
            <div class="row">
               
                <div class="col-12">
                    @if (language == "ar")
                    {
                        <h3 class="headerPages text-center">
                            لم تتلق الكود؟ <a class="btn-link resend-code" href="#">اعد الارسال</a>
                            <a class="counter" style="display: none">اعاده الارسال بعد <span>0</span> ثانيه</a>
                        </h3>
                    }
                    else
                    {
                        <h3 class="headerPages text-center">
                            Didn't get the code ?<a class="btn-link resend-code" href="#">Resend </a>
                            <a class="counter" style="display: none">Resend after  <span>0</span> sec</a>
                        </h3>
                    }
                </div>

            </div>
        </div>
    </section>


<form id="data-post" action="/ResetPassword" method="post">
    <input type="hidden" name="Phone" value="@ViewBag.UserName " />
</form>
@{
    string successMessage = language == "ar" ? "سيتم تحويلك الي صفحه تعيين كلمه السر" : "the sent code verified";
    string errorMessage = language == "ar" ?  "الكود المدخل غير صحيح, تاكده من ادخال الكود المرسل" : "The code you entered not correct, check the code again";
    string successMessageResend = language == "ar" ?  "تم اعاده ارسال الكود" : "Code resent";
    string errorMessageResend = language == "ar" ?  "لم تتم اعاده الارسال حاول مجددا" : "Code didn't resent";
    string phone = ViewBag.UserName ?? "";
}

@section Scripts {

    @Html.InlineScripts("~/Scripts/verifypassword")
    <script>
        vp('@country', '@language', '@phone', '@successMessageResend', '@errorMessageResend', '@successMessage', '@errorMessage')
    </script>

}
<!-- register Section End -->
<!-- Button trigger modal -->
