@using Cigarette.Enterprise.ViewModels.ViewModels.WepAPIViewModel.Advertisement
@*@model Cigarette.Enterprise.ViewModels.ViewModels.Generic.GenericOutputModel<AdvertisementListVM>*@
@model  PagedList.IPagedList<Cigarette.Enterprise.DAL.Advertisement>
@using Saudiceos.Enterprise.Web.helper
@using Cigarette.Enterprise.ResourceManager.LanguagesResourceFiles
@using PagedList.Mvc
@{
    Layout = null;
}


@{
    var language = "ar";
    var cookie = HttpContext.Current.Request.Cookies["Language"];
    var baseUrl = System.Configuration.ConfigurationManager.AppSettings["ApiDomain"] + "/DynamicResources/AdvertismentImages/";

    if (cookie != null && cookie.Value != null)
    {
        language = cookie.Value;
    }
    else
    {
        HttpCookie newcookie = new HttpCookie("Language");
        newcookie.Value = language;
        Response.Cookies.Add(newcookie);
    }

    var country = "KW";
    var cookiecountry = HttpContext.Current.Request.Cookies["Country"];

    if (cookiecountry != null && cookiecountry.Value != null)
    {
        country = cookiecountry.Value;
    }
    else
    {
        HttpCookie newcookiecountry = new HttpCookie("Country");
        newcookiecountry.Value = language;
        Response.Cookies.Add(newcookiecountry);
    }

}

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">

        @foreach (var item in Model.ToList())
        {


            <div class="item col-md-4">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            @if (@Request.IsAuthenticated)
                            {
                                <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="اضافة الى المفضلة">
                                    <i class="fa fa-heart" onclick="AddToFav(@item.Id)"></i>
                                </button>
                            }
                            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#product_view" data-placement="top" title="نظرة سريعة">
                                <i class="fas fa-eye" onclick="quickView(@item.Id)"></i>
                            </button>
                            <a class="btn btn-primary" href="@Url.RouteUrl("Edit", new { id = item.Id, slug = item.ArabicTitle.Replace(".","").Replace(' ', '-').Replace('/', '-').Replace('$', '-').Replace('#', '-')})">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button class="threebutton threebuttonred" type="button" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa  fa-remove" aria-hidden="true"></i>
                                @HomeResource.RemoveAd
                            </button>
                        </div>
                        <a href="@Url.RouteUrl("Details", new { id = item.Id, slug = item.ArabicTitle.Replace(".","").Replace(' ', '-').Replace('/', '-').Replace('$', '-').Replace('#', '-')})">
                            <img src="@(item.AdvertismentImages.FirstOrDefault()==null?"~/Content/arabic/images/defaultimage.jpg":(baseUrl+item.AdvertismentImages.FirstOrDefault().Url))" class="img-responsive img-ad" name="@(item.AdvertismentImages.FirstOrDefault()==null?"noimg":item.AdvertismentImages.FirstOrDefault().Url)" width="200" alt="Product Image" />
                        </a>
                    </div>
                    <div class="info">
                        <div class="price-details ">
                            <h1>@item.ArabicTitle</h1>
                            <div class="price-new">
                                <h3 style="color: #55b655"> @(language == "ar" ? item.PriceTextAr : item.PriceTextEn)</h3>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        }
    </div>
    <div class="row col-lg-12">
        @Html.PagedListPager(Model, page => Url.Action("DashSetting", new { page, country, language }))
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@HomeResource.RemoveAd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">@HomeResource.RemoveAd ? </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="deletebtn" class="btn btn-danger">@HomeResource.RemoveAd</button>
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>-->
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/ltr/jQuery_3.4.1.js"></script>

<script>
    $(document).ready(function () {

    @*$('.img-ad').each(function () {

        var imge = $(this);
        var ImgName = $(imge).attr('name');
        if (ImgName != "noimg")
        {
            var model = { ImageName: ImgName };

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "@System.Configuration.ConfigurationManager.AppSettings["ApiDomain"]"+"/Api/ImageUpload/GetAdImage",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                "data": "{\"ImageName\":\"" + ImgName + "\"}"
            }

            $.ajax(settings).done(function (response) {
                $(imge).attr('src', response);
            });
        }
        });*@
    });

        $("#deletebtn").click(function () {
            var id = $("#AdId").val();


            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("DeleteAd")',
                data: JSON.stringify({ id: id }),
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                success: function (response) {
                    if (response.data == true) {
                        window.location.href = '@Url.RouteUrl("Home")';
                    }
                    else {
                        toastr.error("حدث خطأ ما ! ");
                    }

                },
                error: function (error) {
                    toastr.error("حدث خطأ ما ! ");
                }
            });

        });


    function quickView(adId) {
        $.ajax({
            type: "get",
            url: '@Url.RouteUrl("QuickView")?id=' + adId,
            success: function (data) {
                $("#AdQucikView").html(data);
            },
            error: function (data) {
                $("#AdQucikView").html("");
            }
        });
    }
</script>