@using Cigarette.Enterprise.ViewModels.VM.Breadcrumb

@model Cigarette.Enterprise.DAL.AspNetUser
@{
    ViewBag.Title = "تفاصيل الموظف  ";

    ViewBag.Breadcrumb = new BreadcrumbVM
    {
        Title = "تفاصيل الموظف",
        BreadcrumbItems = new List<BreadcrumbItem>
{
            new BreadcrumbItem{Title = "تفاصيل الموظف", Link = "", IsMuted = false},
            new BreadcrumbItem{Title = "الموظفين", Link = "/admin/user/all", IsMuted = true},
            new BreadcrumbItem{Title = "لوحة التحكم", Link =  "/admin/dashboard/details", IsMuted = true},
        }
    };
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

@section  Styles{
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
}

<!--begin::Navbar-->
<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-250px" style="background-image:url('/Content/Data/User/Images/@Model.Image'); background-size: contain;"></div>
    </div>
</div>
<!--end::Navbar-->
<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card header-->
    <div class="card-header cursor-pointer">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">البيانات التفصيلية</h3>
        </div>
        <!--end::Card title-->
        <!--begin::Actions-->
        <div class="d-flex my-4">
            @if (User.IsRolesAny(Permissions.User_Update))
            {

                <a href="/admin/user/edit/@General.Base64Encode($"{Model.Id}")" class="btn btn-primary me-3">تعديل</a>
            }
            </div>
        <!--end::Actions-->
    </div>
    <!--begin::Card header-->
    <!--begin::Card body-->
    <div class="card-body p-9">
        <!--begin::Row-->
        <div class="row mb-7">
            <!--begin::Label-->
            <label class="col-lg-4 fw-bold text-muted">الاسم</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">@Model.Name  </span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row mb-7">
            <!--begin::Label-->
            <label class="col-lg-4 fw-bold text-muted">الهاتف</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">@Model.Phone  </span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row mb-7">
            <!--begin::Label-->
            <label class="col-lg-4 fw-bold text-muted">ملاحظات</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">@Model.Email  </span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        
        <!--begin::Row-->
        <div class="row mb-7">
            <!--begin::Label-->
            <label class="col-lg-4 fw-bold text-muted">تاريخ الانشاء</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">@(Model.CreationTime?.ToLongDateString())  </span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Input group-->
        <div class="row mb-7">
            <!--begin::Label-->
            <label class="col-lg-4 fw-bold text-muted">
                حاله التفعيل
                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 d-flex align-items-center">
                <span class="badge @(Model.IsActive == true ? "badge-success" : "badge-danger" ) fw-bolder my-2">@(Model.IsActive == true ? "معروض" : "غير معروض")</span>
            </div>
            <!--end::Col-->
        </div>
        <!--end::Input group-->

    </div>
    <!--end::Card body-->
</div>
<!--end::details View-->


@section Scripts
{
    <script>

    </script>
}