@using Cigarette.Enterprise.ViewModels.VM.Breadcrumb

@model Saudiceos.Enterprise.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "تغيير كلمه المرور";

    ViewBag.Breadcrumb = new BreadcrumbVM
    {
        Title = "تغيير كلمه المرور",
        BreadcrumbItems = new List<BreadcrumbItem>
{
            new BreadcrumbItem{Title ="تغيير كلمه المرور", Link = "", IsMuted = false},
            new BreadcrumbItem{Title = "  الموظفين  ", Link = "/admin/user/all", IsMuted = false},
            new BreadcrumbItem{Title = "لوحة التحكم", Link =  "/admin/dashboard/details", IsMuted = true},
        }
    };
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

@section  Styles{
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
}

<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0"> تعديل كلمه المرور ل @Model.Name</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_profile_details" class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form" action="/admin/user/passreset" method="post">
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
                <div class="text-danger">@Html.ValidationSummary()</div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">كلمه المرور</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" required name="Password" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"   value="@Model.Password" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">تاكيد كلمه المرور</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8 fv-row">
                        <input type="text" required name="ConfirmPassword" class="form-control form-control-lg form-control-solid"   value="" />
                        <span class="text-danger"> @Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group--> 
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-light btn-active-light-primary me-2">الغاء</button>
                <button type="submit" class="btn btn-primary">حفظ  </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Content-->
</div>
<!--end::Basic info-->

@section Scripts {
     
}
 