@using Cigarette.Enterprise.ViewModels.VM.Breadcrumb

@model Cigarette.Enterprise.ViewModels.VM.Banner.BannerVM
@{
    ViewBag.Title = "إضافة اعلان  ";

    ViewBag.Breadcrumb = new BreadcrumbVM
    {
        Title = "إضافة اعلان جديد",
        BreadcrumbItems = new List<BreadcrumbItem>
{
            new BreadcrumbItem{Title = "إضافة اعلان جديد", Link = "", IsMuted = false},
            new BreadcrumbItem{Title = "  الإعلانات  ", Link = "/admin/service/all", IsMuted = false},
            new BreadcrumbItem{Title = "لوحة التحكم", Link =  "/admin/dashboard/details", IsMuted = true},
        }
    };
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

@section  Styles{
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
}

<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">إضافة اعلان</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_profile_details" class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form" action="/admin/banner/new" method="post">
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
                <div class="text-danger">@Html.ValidationSummary()</div>


                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-bold fs-6">صورة  </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(assets/media/avatars/blank.png)">
                            <!--begin::Preview existing avatar-->
                            <div class="image-input-wrapper w-600px h-200px" style="background-repeat: no-repeat;background-size: contain;background-image:url(../../../../Content/Data/Banner/ImagesTMP/@Model.ImageUrl)"></div>
                            <!--end::Preview existing avatar-->
                            <!--begin::Label-->
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="  تغيير الصورة">
                                <i class="bi bi-pencil-fill fs-7"></i>
                                <!--begin::Inputs-->
                                <input class="upl-img" data-utype="1" data-url-id="#ImageUrl" type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="avatar_remove" />
                                <input type="hidden" value="@Model.ImageUrl" name="ImageUrl" id="ImageUrl" required />
                                <!--end::Inputs-->
                            </label>
                            <!--end::Label-->
                            <!--begin::Cancel-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="  الغاء">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Cancel-->
                            <!--begin::Remove-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="  حذف">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">الملفات المسموح بها: png, jpg, jpeg.</div>
                        <!--end::Hint-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->

                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">الاسم</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" name="Title" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="العنوان" value="@Model.Title" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Title)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->

                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">المعلن</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" name="Advertiser" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="المعلن" value="@Model.Advertiser" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Advertiser)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->

                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">الكلمات الدلاليه</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" name="Keywords" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="الكلمات الدلاليه" value="@Model.Keywords" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Keywords)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">الوصف</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" name="Description" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="الوصف" value="@Model.Description" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Description)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">الرابط</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row">
                                <input type="text" name="Link" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="الرابط" value="@Model.Link" />
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Link)</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">مكان الاعلان</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8 fv-row">
                        <!--begin::Input-->
                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="اختر النوع" name="AdPlace">
                            <option></option>
                            <option @(Model.AdPlace == (int)AdPlace.HomePage ? "selected" : "") value="@((int)AdPlace.HomePage)">الصفحه الرئيسيه</option>
                            <option @(Model.AdPlace == (int)AdPlace.CeoPage ? "selected" : "") value="@((int)AdPlace.CeoPage)">صفحه التنفيذيون  </option>
                            <option @(Model.AdPlace == (int)AdPlace.NewsPage ? "selected" : "") value="@((int)AdPlace.NewsPage)">الأخبار</option>
                            <option @(Model.AdPlace == (int)AdPlace.ServicePage ? "selected" : "") value="@((int)AdPlace.ServicePage)"> الخدمات  </option>
                            <option @(Model.AdPlace == (int)AdPlace.AllPages ? "selected" : "") value="@((int)AdPlace.AllPages)">كل الصفحات  </option>

                        </select>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AdPlace)</span>
                        <!--end::Input-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-bold fs-6"> نوع الاعلان</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8 fv-row">
                        <!--begin::Input-->
                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="اختر النوع" name="Type">
                            <option></option>
                            <option @(Model.Type == $"{(int)AdType.Fixed}" ? "selected" : "") value="@((int)AdType.Fixed)">ثــابت</option>
                            <option @(Model.Type == $"{(int)AdType.Slider}" ? "selected" : "") value="@((int)AdType.Fixed)">متغير</option>
                        
                        </select>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Type)</span>
                        <!--end::Input-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row mb-0">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-bold fs-6">معروض ؟</label>
                    <!--begin::Label-->
                    <!--begin::Label-->
                    <div class="col-lg-8 d-flex align-items-center">
                        <div class="form-check form-check-solid form-switch fv-row">
                            <input name="Active" class="form-check-input w-45px h-30px" type="checkbox" @(Model.Active == true ? "checked=checked" : "") value="true" />
                            <input name="Active" class="form-check-input w-45px h-30px" type="hidden" value="false" />
                            <label class="form-check-label"></label>
                        </div>
                    </div>
                    <span class="text-danger">
                        @Html.ValidationMessageFor(m => m.Active)
                    </span>
                    <!--begin::Label-->
                </div>
                <!--end::Input group-->
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-light btn-active-light-primary me-2">الغاء</button>
                <button type="submit" class="btn btn-primary">حفظ  </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Content-->
</div>
<!--end::Basic info-->

@section Scripts {
    <!--begin::Page Custom Javascript(used by this page)-->
 
    <!--end::Page Custom Javascript-->
}
