
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success row">
        <div class="h3">
            @TempData["SuccessMessage"]
        </div>
    </div>
    @(TempData["SuccessMessage"] = null)
}


@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-success row">
        <div class="h3">
            @TempData["WarningMessage"]
        </div>
    </div>
    @(TempData["WarningMessage"] = null)
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success row">
        <div class="h3">
            @TempData["ErrorMessage"]
        </div>
    </div>
    @(TempData["ErrorMessage"] = null)
}