
<!DOCTYPE html> 
    
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>لوحه التحكم | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/AdminResources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="~/Content/AdminResources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/AdminResources/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/AdminResources/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/AdminResources/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/AdminResources/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminResources/assets/layouts/layout3/css/themes/blue-steel.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/AdminResources/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <style>

        .Body_overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 1080;
            visibility: hidden;
        }

        .spinner {
            position: fixed;
            top: 48%;
            left: 48%;
            width: 70px;
            text-align: center;
            z-index: 1090;
            visibility: hidden;
        }

            .spinner > div {
                width: 18px;
                height: 18px;
                background-color: #3087C4;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }

            .spinner .bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

    </style>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="Body_overlay"></div>

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="~/content/images/logo.png" alt="logo" class="logo-default" style="width: 170px;  margin-top: auto;" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-list"></i>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_TopMenu.cshtml")
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_Navigation.cshtml")
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN THEME PANEL -->
                @*@Html.Partial("~/Areas/Admin/Views/Shared/Partials/_ThemePartial.cshtml")*@
                <!-- END THEME PANEL -->

                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            All Rights Reserved for @DateTime.Now.Year &copy; Saudiceos.
            <a href="#" title="Saudiceos"></a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="/Content/AdminResources/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/AdminResources/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/AdminResources/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/AdminResources/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    @RenderSection("preScripts", false)
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/AdminResources/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    @RenderSection("postScripts", false)

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/AdminResources/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Content/AdminResources/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminResources/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

    <script>
        function ShowLoader() {

            var spinner = $('.spinner');
            var Body_overlay = $('.Body_overlay');
            spinner.css("visibility", "visible");
            Body_overlay.css("visibility", "visible");
        }

        function HideLoader() {

            var spinner = $('.spinner');
            var Body_overlay = $('.Body_overlay');
            spinner.css("visibility", "hidden");
            Body_overlay.css("visibility", "hidden");
        }

        $(document).ajaxStart(function () {
            ShowLoader();
        });

        $(document).ajaxComplete(function () {
            HideLoader();
        });

    </script>
    <!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>
<link href="~/Content/AdminResources/assets/apps/css/inbox.css" rel="stylesheet" />